.main__say {
    width: 40%;
}

.main__welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.main__sign-in {
    height: 100%;
    position: relative;
    flex: 1;
}

.main__background {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form__sign-in, .form__sign-up {
    display: flex;
    flex-direction: column;
}

.tabs__register {
    justify-content: center;
    min-height: 300px;
    min-width: 60%;
}

.img__main-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main__sign-in::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff1c;
}

.main__head-message {
    text-align: center;
    max-width: 450px;
    letter-spacing: 0.7px;
    color: #fff;
}

.main__head-title {
    color: #fff;
}

@media (max-width: 767.98px) { 

    .main {
      flex-wrap: wrap;
    }
  
    .main__sign-in {
      height: 54%;
      flex: 1;
      order: 2;
      min-width: 100%;
    }
  
    .main__background[_ngcontent-c7] {
      order: 3;
    }
   }