<nav class="nav nav-header">
  <a href="" class="logo__link">Say It</a>
  <ul class="nav__list">
    <li class="nav__item"><a href="" class="nav__link">Home</a></li>
    <li class="nav__item"><a href="" class="nav__link">Hashtag</a></li>
    <li class="nav__item"><a href="" class="nav__link">Notification</a></li>
  </ul>
    <mat-form-field class="header__search" appearance="outline">
      <mat-label>Search smth</mat-label>
      <input matInput placeholder="Search..">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
</nav>