$white: #FFF;

.logo__link {
    font-family: 'Courgette', cursive;
    font-size: 30px;
    text-decoration: none;
    color: $white;
}

.nav-header {
    padding-top: 10px;
    padding-bottom: 10px;
}

.header__search {
    font-size: 12px;
}

.header__search .mat-form-field-wrapper {
    padding-bottom: 0;
}

.nav__list {
    padding-left: 0;
}

.nav__link {
    color: $white;
}