<nav class="nav nav-header container">
  <ul class="nav__list">
    <li class="nav__item"><a href="/" class="nav__link">Home</a></li>
    <li class="nav__item"><a href="" class="nav__link">Hashtag</a></li>
    <li class="nav__item"><a href="" class="nav__link">Notification</a></li>
  </ul>
  <a href="" class="logo__link">Say It</a>
  <div class="header__sign-block">
      <button class="button_basic" mat-button>Sign In</button>
      <span>|</span>
      <button class="button_basic" mat-button>Sign Up</button>
  </div>

</nav>