<header class="main-header">
  <nav class="nav nav-header container">
    <ul *ngIf = "isSigned" class="nav__list">
      <li class="nav__item"><a href="/" class="nav__link">Home</a></li>
      <li class="nav__item"><a href="" class="nav__link">Hashtag</a></li>
      <li class="nav__item"><a href="" class="nav__link">Notification</a></li>
    </ul>
    <a href="" class="logo__link">Say It</a>
    <div *ngIf = "isSigned" class="header__sign-block">
        <button (click)="logOut()" class="button_transparent" mat-button>Log Out</button>
    </div>
  
  </nav>
</header>