.say-card {
    margin-bottom: 10px;
    width: 100%;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
}

.say-card .mat-card-header, .say-card .mat-card-content, .say-card .mat-card-actions {
    padding-left: 16px;
    padding-right: 16px;
}

.say__text {
    padding-top: 15px;
    font-size: 28px;
}

.say-card__login {
    text-decoration: none;
}

.circle-user-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.say-image__container {
    max-height: 250px;
    overflow: hidden;
    width: 100%;
}

.say-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
}

.delete__resay {
    display: none;
}