<mat-card class="say-card">
  <mat-card-header>
    <div  class="circle-user" mat-card-avatar><img class="circle-user-image" src="{{say.profilePhoto}}" alt=""></div>
    <mat-card-title><a class="say-card__login" href="/">{{say.author}}</a></mat-card-title>
    <mat-card-subtitle>{{say.date}}</mat-card-subtitle>
  </mat-card-header>

  <div class="say-image__container">
    <img *ngIf="imgCheck()" class="say-image" mat-card-image src="{{say.images}}">
  </div>

  <mat-card-content>
    <p [routerLink]="'/say/' + say.id" class="say__text">
     {{say.msg}}
    </p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button (click)="store.reSay(say.id)">SHARE</button>
    <button mat-button (click)="store.deleteSay(say.id)">DELETE</button>
  </mat-card-actions>
</mat-card>