<mat-card class="say-card">
  <mat-card-header>
    <div class="circle-user-image" mat-card-avatar></div>
    <mat-card-title><a class="say-card__login" href="/">{{say.author}}</a></mat-card-title>
    <mat-card-subtitle>{{say.date}}</mat-card-subtitle>
  </mat-card-header>

  <!-- <div class="say-image__container">
    <img class="say-image" mat-card-image src="https://images.unsplash.com/photo-1518098268026-4e89f1a2cd8e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="Photo of a Shiba Inu">
  </div> -->

  <mat-card-content>
    <p [routerLink]="'/say/' + say.id" class="say__text">
     {{say.msg}}
    </p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
    <button mat-button (click)="store.deleteSay(say.id)">DELETE</button>
  </mat-card-actions>
</mat-card>