@import "../../../styles.scss";

.home-container {
    display: flex;
    padding-top: 40px;
    justify-content: space-between;
}

.dashboard__item {
    list-style-type: none;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
}

.dashboard__link {
    text-transform: uppercase;
    text-decoration: none;
}

.dashboard__list {
    padding-left: 0;
}

.saybox {
    flex-grow: 2;
    margin: 0px 50px;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.icon {
    width: 25px;
    height: 25px;
    padding-right: 15px;
    padding-left: 10px;
    fill: $dark;
}

.saybox app-say {
    width: 100%;
}

