.single__say {
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 0 10px;
    flex: 1;
}

.single-say__container {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

