.user__image {
    padding: 20px;
}

.users-info__content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.users-info__item {
    padding: 0 14px;
    font-size: 15px;
}

.user-info__login {
    text-align: center;
}

.profile__info {
    margin-top: 25px;
    text-align: center;
}

.user-info__name {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    font-weight: 100;
    text-transform: uppercase;
}

@media (max-width: 767.98px) { 
    .profile-container {
    flex-direction: column;
  }

  .saybox {
    max-width: 100%;
    order: 2;
  }

}