.profile-container {
    display: flex;
    padding-top: 40px;
    justify-content: space-between;
}

.saybox {
    flex-grow: 2;
    margin: 0px 50px;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.saybox app-say {
    width: 100%;
}
