.main__say {
    width: 40%;
}

.main__say-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.main__sign-in {
    height: 100%;
    position: relative;
}

.img__main-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main__sign-in::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff2e;
}

.main__button {
    margin-left: 10px;
}