<mat-card>
  <mat-card-title class="user-info__login">@{{store.getCurrentUserName()}}</mat-card-title>
  <mat-card-content class="user-info__name">
    {{store.getCurrentUserFirstLastName()}}
  </mat-card-content>

  <div class="users-info__content">

    <mat-card-content class="users-info__item">
      {{store.getNumberOfSaysOfCurrentUser()}} <h3>tweets</h3>
    </mat-card-content>

    <mat-card-content class="users-info__item">
      {{store.getNumberOfFollowsOfCurrentUser()}} <h3>follows</h3>
    </mat-card-content>

    <mat-card-content class="users-info__item">
      {{store.getNumberOfFollowersOfCurrentUser()}} <h3>followers</h3>
    </mat-card-content>
  </div>
  <button mat-button (click)="openDialog()">Edit</button>

</mat-card>